/* Caroussel */

.carousel-container {
  position:relative;
  width:1160px;
  margin: 0 auto;
}
#carousel {
  height:350px;
  width:1160px;
  background-color:#FFF;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  width:600px;
  height:300px;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #5d5d5d;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  background-color:#000;
  left: initial;
  right: initial;
  width: 100%;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
  text-align: center;
}
.tracker-summation-container {
  display:none;
}
.tracker-individual-container {
  position:absolute;
  bottom:0;
  right: 45%;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:#DDD;
  text-align:center;
  background-color:#DDD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:#000;
  font-weight:bold;
  background-color:#000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#carousel-left {
  position:absolute;
  bottom:15px;
  left:220px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:15px;
  right:220px;
  cursor:pointer;
}



