/**
 * GENERALITIES
 */

@font-face
{
    font-family: transformers;
    src: url(../fonts/Transformers.ttf);
}

#wrapper {
    width: 90%;
    margin: 0 auto;
}

iframe {
    width: 100%;
}

.col-md-4 {
    text-align:center;
}

.col-md-4 img{
    width: 310px;
}

.col-md-4 p{
    text-align:justify;
}

h1, h2, h3 {
    font-family: transformers;
}

h1 {
    font-size: 37px;
    color: white;
}

h2 {
    text-align: center;
}

a {
    color: white;
}

li {
    list-style-type: none;
}


header {
    position: relative;
    height: 200px;
    background-color: #1a6e8a;
}

header > h1 {
    top: 40px;
    left: 15%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #000;
}

header > .picture {
    height: 200px;
    width: 100%;
    top: 0;
    position: absolute;
    background: url('../images/header-image.jpg') no-repeat right;
}

p {
    text-align: justify;
}


button[disabled],
button[disabled]:hover,
button[disabled].small,
button[disabled].small:hover {
    background-color: grey;
    color: white;
}

/* Menu */

nav {
    background-color: #1a6e8a;
    border-top: 1px solid white;
    font-family: transformers;
    color: white;
    font-size: 24px;
}


#nav.floatable {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 90%;
}

#navbar-collapse {
    background: #1a6e8a;
    padding: 0;
}

.navbar-toggle {
    padding: 0px 10px;
}

nav ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.navbar-default .navbar-brand {
    color: #000;
}

nav ul li.current a,
nav ul li:hover a {
    color: #1a6e8a;
    text-shadow: none;
}

nav ul li.current,
nav ul li:hover {
    border-bottom: 1px solid #1a6e8a;
    background-color: white;
    /*line-height: 28px;*/
}

nav .navbar-nav > li {
    left: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li.current>a {
    color: #000;
}

nav ul li a {
    color: white;
    padding: 0 10px;
    display: block;
    text-shadow: 0px 1px 0px #000;
}

/*nav li:last-child {
    float:right;
}*/

.content {
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}

footer {
    font-style: italic;
    font-size: 12px;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    border-top: 2px dashed #1a6e8a;
    border-bottom: none;
}

table tr td:first-child {
    padding-left: 30px;
}

/**
 * SPECIFICITY
 */

/* Robot list page */

.content table thead {
    font-weight: bold;
}

.content table tbody tr td:last-child {
    vertical-align: middle;
}

button.small {
    border-radius: 15px;
    color: #1a6e8a;
    background-color: #fff;
}

button.large {
    border-radius: 5px;
    color: #1a6e8a;
    background-color: #fff;
    padding: 5px 10px;
}

button:hover {
    color: #fff;
    background-color: #1a6e8a;
}

.div-pm-to-cart div{
    display: none;
}

.div-pm-to-cart span input{
    width : 40px;
}

.div-pm-to-cart button {
    width : 38px;
}

span.quantity-in-cart {
    padding: 0 5px;
}

/* Registration page */

.content .inscription {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #1a6e8a;
}

.content .inscription fieldset {
    padding: 10px 0;
}

.content .inscription fieldset label {
    padding-right: 10px;
}

.content .inscription input[type="submit"] {
    margin-top: 10px;
}

form label {
	text-align: right;
	display: block;
	float: left;
	width: 50px;
	padding-left: 10%;
}

.content .result {
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
}

.content .result.error {
    color: red;
}

.content .result.success {
    color: green;
}

.formInput {
	position: relative;
	float: left;
	margin-left: 85px;
}

/* Cart page */

.content.panier div {
    text-align: center;
}

